@model Senparc.Ncf.AreaBase.Admin.IAdminPageModelBase
@using Senparc.Ncf.XncfBase;
@using Senparc.Ncf.Core.Areas;
@using Microsoft.AspNetCore.Http;
@inject Senparc.Ncf.Service.SysMenuService _sysMenuService
@inject IHttpContextAccessor _httpContextAccessor
@addTagHelper *, Senparc.Areas.Admin
@{
    var sysMenuDtos = await _sysMenuService.GetMenuTreeDtoByCacheAsync();

    string LocalizeMenuName(string menuName)
    {
        if (string.IsNullOrEmpty(menuName)) return menuName;
        var localized = AR[$"Menu.Db.{menuName}"];
        return localized.ResourceNotFound ? menuName : localized.Value;
    }

    /// <summary>
    /// Check whether the current page is an XNCF module entry
    /// </summary>
    /// <param name="currentMenuUrl"></param>
    /// <returns></returns>
    string CurrentXncfPage(string currentMenuUrl)
    {
        if (!Model.Uid.IsNullOrEmpty())
        {
            var pathAndQuery = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetEncodedPathAndQuery(_httpContextAccessor.HttpContext.Request);
            if (pathAndQuery.Contains("/Admin/XncfModule/Start", StringComparison.OrdinalIgnoreCase) &&
                currentMenuUrl.Contains(Model.Uid, StringComparison.OrdinalIgnoreCase))
            {
                return "current-page-xncf";
            }
            return "";
        }

        return "";
    }
    /// <summary>
    /// Check whether the current page is an XNCF sub-page
    /// </summary>
    /// <param name="currentMenuUrl"></param>
    /// <returns></returns>
    string CurrentXncfSubPage(string currentMenuUrl)
    {
        var pathAndQuery = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetEncodedPathAndQuery(_httpContextAccessor.HttpContext.Request);
        if (pathAndQuery.Contains(currentMenuUrl, StringComparison.OrdinalIgnoreCase) ||
            (ViewData["TempMenuUrl"] is string tempMenuUrl && currentMenuUrl.Contains(tempMenuUrl, StringComparison.OrdinalIgnoreCase)))
        {
            return "current-page-xncf";
        }
        return "";
    }
}


<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title hidden-small">
            @*<a href="/Home/Index" class="site_title">
                    <img src="~/images/Admin/base/head/logo_230x55.png" class="hidden-small" />
                    <img src="~/images/Admin/base/head/logo_70x55.png" class="hidden-lg" />
                </a>*@
            <a href="/" class="site_title">
                <img src="~/images/Admin/base/head/logo_230x55.png" />
            </a>
        </div>

        <div class="clearfix"></div>
        <!-- Menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/images/Admin/base/head/logo_128x128.png" class="img-circle profile_img" style="background-color:transparent" />
            </div>
            <div class="profile_info" style="padding: 25px 0px 10px;">
                <span>Welcome,</span>
                <h2>@Model.UserName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                @*<h3>Menu</h3>*@
                <ul class="nav side-menu">
                    <li>
                        <a href="~/Admin/Index">@AR["Admin.Nav.首页"]</a>
                    </li>
                    @foreach (var item in sysMenuDtos)
                    {
                        // Check whether to hide the module management unit
                        var hideXncfModuleManager = item.MenuName == "扩展模块" && Model.FullSystemConfig.HideModuleManager == true;

                        @if (!hideXncfModuleManager)
                        {
                            // Show extension modules, create first-level directory
                            @Html.Raw(@"<li>")

                            <a href="@item.Url">
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <i class="@item.Icon"></i>
                                }
                                @LocalizeMenuName(item.MenuName)

                            </a>
                        }

                        @if (item.Children != null)
                        {
                            @if (!hideXncfModuleManager)
                            {
                                // Show extension modules, create second-level directory
                                @Html.Raw(@"<ul class=""nav child_menu"">")
                            }
                            @foreach (var childrenItem in item.Children.Where(_ => _.IsMenu))
                            {
                                if (hideXncfModuleManager && childrenItem.MenuName=="模块管理")
                                {
                                    continue;// Hide "Module Management" menu
                                }
                                <li>
                                    @{
                                        var xncfRegister = Model.XncfRegisterList.FirstOrDefault(z => !childrenItem.Url.IsNullOrEmpty() && childrenItem.Url.Contains($"uid={z.Uid}", StringComparison.OrdinalIgnoreCase));
                                    }
                                    @if (xncfRegister != null)
                                    {
                                        if (xncfRegister is Senparc.Ncf.Core.Areas.IAreaRegister xncfAreapage &&
                                        xncfAreapage.AreaPageMenuItems.Count() > 0)
                                        {
                                            // This is an XNCF UI module menu with multiple menu configurations
                                            <a><i class="@childrenItem.Icon"></i> @LocalizeMenuName(childrenItem.MenuName)<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu @(hideXncfModuleManager?"":"xncf_area_submenu")">
                                                    <a href="@childrenItem.Url" class="@CurrentXncfPage(childrenItem.Url)">
                                                        <i class="fa fa-gear"></i>
                                                        <text>@AR["Xncf.SettingsExecute"]</text>
                                                    </a>
                                                </li>
                                                @foreach (var xncfSubMenu in xncfAreapage.AreaPageMenuItems)
                                                {
                                                    <li class="@(hideXncfModuleManager?"":"xncf_area_submenu")">
                                                        <a href="@xncfSubMenu.Url" class="@CurrentXncfSubPage(xncfSubMenu.Url)">
                                                            @if (!string.IsNullOrEmpty(xncfSubMenu.Icon))
                                                            {
                                                                <i class="@xncfSubMenu.Icon"></i>
                                                            }
                                                            @LocalizeMenuName(xncfSubMenu.Name)
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            // This is a regular XNCF (may only contain Functions) menu
                                            <a href="@childrenItem.Url" class="@CurrentXncfPage(childrenItem.Url)">
                                                @if (!string.IsNullOrEmpty(childrenItem.Icon))
                                                {
                                                    <i class="@childrenItem.Icon"></i>
                                                }
                                                @LocalizeMenuName(childrenItem.MenuName)
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        // Other menus, such as system or custom menus
                                        <a href="@childrenItem.Url">
                                            @if (!string.IsNullOrEmpty(childrenItem.Icon))
                                            {
                                                <i class="@childrenItem.Icon"></i>
                                            }
                                            @LocalizeMenuName(childrenItem.MenuName)
                                        </a>
                                    }
                                </li>
                            }
                            @if (!hideXncfModuleManager)
                            {
                                // Show extension modules, end second-level directory
                                @Html.Raw(@"</ul>")
                            }
                        }
                        @if (!hideXncfModuleManager)
                        {
                            // Show extension modules, end first-level directory
                            @Html.Raw(@"</li>")
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
<!-- /menu footer buttons -->
