@page
@model Senparc.Areas.Admin.Areas.Admin.Pages.XncfModuleIndexModel
@using Senparc.Ncf.Core.Areas;
@using Senparc.Ncf.XncfBase;
@{
    ViewData["Title"] = AR["Xncf.ModuleManagement"];
    Layout = "_Layout_Vue";
}
@section Style {
    <link href="~/css/Admin/XncfModule/XncfModule.css" rel="stylesheet" />
}
@section breadcrumbs {
    <el-breadcrumb-item>@AR["Xncf.ExtensionModules"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["Xncf.ModuleManagement"]</el-breadcrumb-item>
}
<div class="common-layout">
    <el-container>
        <el-header height="50px">
            <div class="filter-container" style="text-align: right; margin-top:10px">
                <el-popconfirm placement="top" :title="handlerTips" @@on-confirm="handleSwitch">
                    <el-button size="mini" type="danger" slot="reference">{{handlerText}}</el-button>
                </el-popconfirm>
            </div>
        </el-header>
        <el-main>
            <el-tabs type="border-card" class="demo-tabs">
                <el-tab-pane>
                    <template #label>
                        @AR["Xncf.NewModules"]<sup class="el-badge__content">{{newTableData.length}}</sup>
                    </template>
                    <template #add-icon>
                        <el-popconfirm placement="top" :title="handlerTips" @@on-confirm="handleSwitch">
                            <el-button size="mini" type="danger" slot="reference">{{handlerText}}</el-button>
                        </el-popconfirm>
                    </template>
                    <el-table :data="newTableData.filter(data => !newTableSearch || data.name.includes(newTableSearch))"
                                style="width: 100%;margin-bottom: 20px;">
                        <el-table-column align="left" label="@AR["Xncf.ModuleName"]"
                            <template slot-scope="scope">
                                <i class="fa fa-cubes"></i>
                                {{scope.row.name}}
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.MenuDisplayName"]"
                            <template slot-scope="scope">
                                <i :class="scope.row.icon"></i>
                                {{scope.row.menuName}}

                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.Version"]"
                            <template slot-scope="scope">
                                <i class="fa fa-code-fork"></i>
                                {{scope.row.version}}
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.UniqueCode"]" width="350">
                            <template slot-scope="scope">
                                <i class="fa fa-shield"></i>
                                {{scope.row.uid}}
                            </template>
                        </el-table-column>
                        <el-table-column label="@AR["Common.操作"]" width="95">
                            <template slot="header" slot-scope="scope">
                                <el-input v-model="newTableSearch"
                                            size="mini"
                                            placeholder="@AR["Xncf.SearchPlaceholder"]"
                            </template>
                            <template slot-scope="scope">
                                <el-button size="mini"
                                            type="primary"
                                            icon="el-icon-circle-plus"
                                            @@click="handleInstall(scope.$index, scope.row)">@AR["Xncf.Install"]</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane label="@AR["Xncf.InstalledModules"]">
                    <el-table :data="oldTableData.filter(data => !oldTableSearch || data.xncfModule.name.includes(oldTableSearch))"
                                v-if="oldTableData.length>0"
                                style="width: 100%;margin-bottom: 20px;">
                        <el-table-column align="left" label="@AR["Xncf.MenuNameVersion"]"<template slot-scope="scope">
                                <div>
                                    <i :class="scope.row.xncfRegister?scope.row.xncfRegister.icon:'fa fa-chain-broken'"></i>
                                    {{scope.row.xncfModule.menuName}}
                                </div>
                                <div>
                                    <i class="fa fa-code-fork"></i>
                                    v{{scope.row.xncfModule.version}}
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.ModuleNameUniqueCode"]" width="350">
                            <template slot-scope="scope">
                                <div>
                                    <i class="fa fa-cubes"></i>
                                    {{scope.row.xncfModule.name}}
                                </div>
                                <div>
                                    <i class="fa fa-shield"></i>
                                    {{scope.row.xncfModule.uid}}
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.Status"]"<template slot-scope="scope">
                                {{oldData.state[scope.row.xncfModule.state]}}
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Common.添加时间"]"<template slot-scope="scope">
                                {{formaTableTime(scope.row.xncfModule.addTime)}}
                            </template>
                        </el-table-column>
                        <el-table-column label="@AR["Common.操作"]" width="185">
                            <template slot="header" slot-scope="scope">
                                <el-input v-model="oldTableSearch"
                                            size="mini"
                                            placeholder="@AR["Xncf.SearchPlaceholder"]"
                            </template>
                            <template slot-scope="scope">
                                <el-button size="mini"
                                            icon="el-icon-s-tools"
                                            type="primary"
                                            v-if="scope.row.xncfRegister!==null"
                                            @@click="handleHandle(scope.$index, scope.row)">@AR["Common.操作"]</el-button>
                                <el-button size="mini"
                                            v-if="scope.row.xncfRegister!==null&&scope.row.xncfRegister.homeUrl"
                                            icon="el-icon-s-home"
                                            type="primary"
                                            @@click="handleIndex(scope.$index, scope.row)">@AR["Xncf.HomePage"]</el-button>
                                <div v-if="scope.row.xncfRegister===null">
                                    <span>@AR["Xncf.ModuleNotDeployed"]</span>
                                    @*  <span>
                                <el-button size="mini"
                                            icon="el-icon-s-home"
                                            type="primary"
                                            @@click="remove(scope.$index, scope.row)">Home</el-button>
                            </span> *@
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane>
                    <template #label>
                        @AR["Xncf.PendingUpdateModules"]<sup class="el-badge__content">{{updatedTableData.length}}</sup>
                    </template>
                    <template #add-icon>
                        <el-popconfirm placement="top" :title="handlerTips" @@on-confirm="handleSwitch">
                            <el-button size="mini" type="danger" slot="reference">{{handlerText}}</el-button>
                        </el-popconfirm>
                    </template>
                    <el-table :data="updatedTableData.filter(data => !newTableSearch || data.name.includes(newTableSearch))"
                              style="width: 100%;margin-bottom: 20px;">
                        <el-table-column align="left" label="@AR["Xncf.ModuleName"]"
                            <template slot-scope="scope">
                                <i class="fa fa-cubes"></i>
                                {{scope.row.name}}
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.MenuDisplayName"]"
                            <template slot-scope="scope">
                                <i :class="scope.row.icon"></i>
                                {{scope.row.menuName}}

                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.Version"]"
                            <template slot-scope="scope">
                                <i class="fa fa-code-fork"></i>
                                {{scope.row.version}}
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="@AR["Xncf.UniqueCode"]" width="350">
                            <template slot-scope="scope">
                                <i class="fa fa-shield"></i>
                                {{scope.row.uid}}
                            </template>
                        </el-table-column>
                        <el-table-column label="@AR["Common.操作"]" width="95">
                            <template slot="header" slot-scope="scope">
                                <el-input v-model="newTableSearch"
                                          size="mini"
                                          placeholder="@AR["Xncf.SearchPlaceholder"]"
                            </template>
                            <template slot-scope="scope">
                                <el-button size="mini"
                                           type="primary"
                                           icon="el-icon-circle-plus"
                                           @@click="handleInstall(scope.$index, scope.row)">@AR["Xncf.Install"]</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
        </el-main>
    </el-container>
</div>
@section scripts {
    <script src="~/js/Admin/Pages/XncfModule/Index.js"></script>
}
