@page
@model Senparc.Areas.Admin.Areas.Admin.Pages.XncfModuleStartModel
@{
    ViewData["Title"] = ""; 
    Layout = "_Layout_Vue";
}
@section breadcrumbs {
    <el-breadcrumb-item>@AR["Xncf.ExtensionModules"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["Xncf.ModuleManagement"]</el-breadcrumb-item>
    <el-breadcrumb-item v-if="data.xncfModule">{{data.xncfModule.menuName}}</el-breadcrumb-item>
}
@section Style{
    <link href="~/css/Admin/XncfModule/XncfModule.css" rel="stylesheet" />
}
<div>
    <el-container v-if="data.xncfModule">
        <el-header class="module-header">
            <span class="start-title"> <i :class="data.xncfRegister.icon"></i>&nbsp;{{data.xncfModule.menuName}} <span class="module-header-v">@AR["Xncf.Module"] {{data.xncfModule.version}}</span></span>
            <span class="start-delete">
                <el-popconfirm placement="top" title="@AR["Xncf.ConfirmDeleteModule"]" @@on-confirm="handleDelete()">
                    <el-button size="mini" type="danger" slot="reference">@AR["Common.删除"]</el-button>
                </el-popconfirm>
            </span>
        </el-header>
        <el-container>
            <el-aside class="module-aside">
                <div class="start-des">
                    <ul>
                        @*Module info xncfModule*@
                        <li><span class="start-green"><i class="fa fa-map-marker fa-cubes"></i>&nbsp;{{data.xncfModule.name}}</span></li>
                        <li><i class="fa fa-map-marker fa-code-fork"></i>&nbsp;v{{data.xncfModule.version}}</li>
                        <li v-if="data.xncfModule.version!==data.xncfRegister.version">@AR["Xncf.NewVersionFound"]v{{data.xncfRegister.version}} <el-button size="mini" @@click="updataVersion"> <em class="fa fa-gift"></em>&nbsp;@AR["Xncf.UpdateNow"]</el-button></li>
                        <li>
                            <el-tooltip class="item" effect="dark" :content="data.xncfModule.uid" placement="top-start">
                                <span>
                                    <i class="fa fa-map-marker fa-shield"></i>
                                    @AR["Xncf.UniqueId"]
                                </span>
                            </el-tooltip>
                        </li>
                        <li>
                            <i class="fa fa-map-marker puzzle-piece"></i>&nbsp;@AR["Xncf.Features"]
                            <el-tooltip v-for="item in data.xncfRegister.interfaces" class="item" effect="dark" placement="top">
                                <div slot="content">
                                    {{tooltip[item]}}
                                    <span v-if="item === 'IXncfRazorRuntimeCompilation'" @@click="thread.visible=true">
                                        <el-button size="mini">
                                            @AR["Xncf.View"]
                                        </el-button>
                                    </span>
                                </div>
                                @*Web Page*@
                                <i v-if="item === 'IAreaRegister'" class="fa fa-map-marker fa-external-link"></i>
                                @*Database*@
                                <i v-if="item === 'IXncfDatabase'" class="fa fa-map-marker fa-database"></i>
                                @*Middleware*@
                                <i v-if="item === 'IXncfMiddleware'" class="fa fa-map-marker fa-plug"></i>
                                @*Thread*@
                                <i v-if="item === 'IXncfRazorRuntimeCompilation'" class="fa fa-map-marker fa-retweet"></i>
                            </el-tooltip>
                            <template v-if="data.xncfRegister.functionCount>0">
                                <el-tooltip class="item" effect="dark" content="@AR["Xncf.ExecuteMethods"]" placement="top-start">
                                    <i class="fa fa-map-marker fa-rocket">({{data.xncfRegister.functionCount}})</i>
                                </el-tooltip>
                            </template>
                        </li>
                        <li>
                            <i class="fa fa-map-marker fa-sliders"></i><span :class="[data.xncfModule.state===1?'start-green':'start-gray']">&nbsp;{{xNcfModules_State[data.xncfModule.state]}}</span>
                            <template v-if="data.xncfModule.state===3||data.xncfModule.state===0||data.xncfModule.state===2">
                                <el-button size="mini" :type="data.xncfModule.state===0?'success':'warning'" @@click="updataState('1')"> <em class="glyphicon glyphicon-flash"></em> &nbsp;@AR["Xncf.Enable"]</el-button>
                                <p class="red"><i class="fa fa-exclamation-triangle"></i>&nbsp;@AR["Xncf.DisabledModuleWarning"]</p>
                            </template>
                            <template v-if="data.xncfModule.state===1">
                                <el-button size="mini" c type="danger" @@click="updataState('0')"> <em class="glyphicon glyphicon-off"></em> &nbsp;@AR["Xncf.Disable"]</el-button>
                            </template>
                        </li>
                        <li>
                            <i class="fa fa-map-marker fa-newspaper-o"></i>&nbsp;@AR["Xncf.Description"]
                            <p>{{data.xncfModule.description}}</p>
                        </li>
                    </ul>
                </div>
                @*Update log*@
                <div class="start-log">
                    <el-collapse>
                        <el-collapse-item title="@AR["Xncf.UpdateLog"]" name="1">
                            <el-table :data="data.xncfModuleUpdateLog"
                                      stripe
                                      style="width: 100%">
                                <el-table-column label="#" width="30">
                                    <template slot-scope="scope">
                                        {{scope.$index+1}}
                                    </template>
                                </el-table-column>
                                <el-table-column label="@AR["Xncf.UpdateLog"]"
                                    <template slot-scope="scope">
                                        {{scope.row}}
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </el-aside>
            <el-main>
                <template v-if="!data.mustUpdate">
                    <template v-if="data.xncfRegister.interfaces.includes('IAreaRegister')&&data.xncfRegister.areaHomeUrl!==null">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>@AR["Xncf.EnterHomePage.Prefix"] {{data.xncfRegister.menuName}} @AR["Xncf.EnterHomePage.Suffix"]</span>
                                <a @@click="openUrl(data.xncfRegister.areaHomeUrl,data.xncfModule.state)" :class="[data.xncfModule.state===1?'box-card-action':'box-card-action2','box-card-action']">@AR["Xncf.EnterHomePage"]</a>
                                <p class="box-card-des">@AR["Xncf.Address"]<a :href="data.xncfRegister.areaHomeUrl">{{data.xncfRegister.areaHomeUrl}}</a></p>
                            </div>
                            <template>
                                <div class="item-container">
                                    <el-collapse>
                                        <el-collapse-item title="@AR["Xncf.PageInspector"]" name="2">
                                            <el-menu default-active="2"
                                                     class="el-menu-vertical-demo"
                                                     background-color="#304156"
                                                     text-color="#bfcbd9"
                                                     width="300px"
                                                     active-text-color="#409eff">
                                                <el-menu-item v-for="(item,index) in data.xncfRegister.areaPageMenuItems" :index="index">
                                                    <a :href="item.url">
                                                        <i class="el-icon-location"></i>
                                                        <span slot="title">
                                                            {{item.name}}
                                                        </span>
                                                    </a>
                                                </el-menu-item>
                                            </el-menu>
                                        </el-collapse-item>
                                    </el-collapse>
                                </div>
                                <p class="box-card-tip">@AR["Xncf.UIModuleTip"]</p>
                            </template>
                        </el-card>
                    </template>
                </template>
                <el-card class="box-card" v-for="item in data.functionParameterInfoCollection">
                    <div slot="header" class="clearfix">
                        <span><i class="fa fa-terminal"></i> {{item.key.name}}</span>
                            <span type="text" :class="[data.xncfModule.state===1?'box-card-action':'box-card-action2']" @@click="openRun(item,data.xncfModule.state)">@AR["Xncf.Execute"]</span>
                        <p class="box-card-des">{{item.key.description}}</p>
                    </div>
                    <template>
                        <div class="item-container">
                            <el-collapse>
                                <el-collapse-item title="@AR["Xncf.ParameterInspector"]" name="2">
                                    <el-table v-if="item.value.length>0"
                                              :data="item.value"
                                              style="width: 100%">
                                        <el-table-column label="#" width="30">
                                            <template slot-scope="scope">
                                                {{scope.$index+1}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="@AR["Xncf.ParamName"]" width="200">
                                            <template slot-scope="scope">
                                                {{scope.row.title}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="@AR["Common.说明"]"
                                            <template slot-scope="scope">
                                                {{scope.row.description}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="@AR["Xncf.ParamType"]" width="150">
                                            <template slot-scope="scope">
                                                {{state[scope.row.systemType] || scope.row.systemType}}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="@AR["Xncf.Required"]" width="150">
                                            <template slot-scope="scope">
                                                {{scope.row.isRequired?"@Html.Raw(AR["Common.是"])":"@Html.Raw(AR["Common.否"])"}}
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div v-else class="no-content">
                                        @AR["Xncf.NoDataRequired"]
                                    </div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </template>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
    @*Execute dialog*@
    <el-dialog width="60%" v-if="run.data.key" :title="run.data.key.name" :visible.sync="run.visible" class="run-dialog"  :close-on-click-modal="false">
        <h4><i class="fa fa-newspaper-o"></i>&nbsp;{{run.data.key.description}}</h4>
        <el-form :label-position="'left'" @@submit.native.prevent>
            <el-form-item v-for="item in run.data.value" :label="item.title" label-width="200px" :required="item.isRequired">
                <el-input v-if="item.parameterType===0 || item.parameterType===3"
                          v-model="runData[item.name].value" 
                          :maxlength="item.maxLength===0 ? 500 : item.maxLength"
                          :type="item.parameterType===3 ? 'password' : 'text'"></el-input>
                <el-select v-if="item.parameterType===1" v-model="runData[item.name].value">
                    <template v-if="item.selectionList.items" v-for="selectionItem in item.selectionList.items">
                        <el-option :label="selectionItem.text" :value="selectionItem.value"></el-option>
                    </template>
                </el-select>
                <template v-if="item.parameterType===2 && item.selectionList.items">
                    <el-checkbox-group v-model="runData[item.name].value">
                        <template v-for="selectionItem in item.selectionList.items">
                            <el-checkbox :label="selectionItem.value">
                                {{selectionItem.text}}
                                <template v-if="selectionItem.note!==null">
                                    <span class="icon-note">&nbsp; &nbsp;<i class="fa fa-info-circle"></i>&nbsp; &nbsp;{{selectionItem.note}}</span>
                                </template>
                            </el-checkbox>
                        </template>
                    </el-checkbox-group>
                </template>
                <template v-if="item.description!==null">
                    <p><i class="fa fa-info-circle"></i>&nbsp; &nbsp;{{item.description}}</p>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @@click="run.visible = false">@AR["Common.取消"]</el-button>
            <el-button type="primary" @@click="handleRun" :loading="run.loading" :disabled="run.loading">
                {{ run.loading ? '@AR["Xncf.Executing"]' : '@AR["Xncf.Execute"]' }}
            </el-button>
        </div>
    </el-dialog>
    @*Run result*@
    <el-dialog :title="runResult.tit"
               :visible.sync="runResult.visible"
               :close-on-click-modal="false"
               width="40%">
        <p v-html="runResult.tip"></p>
        <p v-html="runResult.msg"></p>
        <span slot="footer" class="dialog-footer">
            <a :href="'?handler=Log&tempId='+ runResult.tempId" v-if="runResult.hasLog" style="display:block" target="_blank"><i class="fa fa-cloud-download"></i> @AR["Xncf.DownloadLog"]</a>
            <el-button type="primary" @@click="runResult.visible = false">@AR["Xncf.Close"]</el-button>
        </span>
    </el-dialog>
    @*View threads*@
    <el-dialog title="@AR["Xncf.ViewThreads"]" :visible.sync="thread.visible"
               width="60%">
        <div class="thread-contenet">
            <el-table :data="data.registeredThreadInfo"
                      style="width: 100%">
                <el-table-column label="@AR["Xncf.ParamName"]" width="180">
                    <template slot-scope="scope">
                        {{scope.row.key.name}}
                    </template>
                </el-table-column>
                <el-table-column label="@AR["Xncf.ActiveStatus"]" width="180">
                    <template slot-scope="scope">
                        {{scope.row.value.isAlive}}/
                        {{scope.row.value.isAlive ? value.isBackground : false}}
                    </template>
                </el-table-column>
                <el-table-column label="@AR["Xncf.ThreadStatus"]" width="180">
                    <template slot-scope="scope">
                        {{scope.row.value.isAlive ? formaTableTime(scope.row.value.threadState): "-"}}
                    </template>
                </el-table-column>
                <el-table-column label="@AR["Xncf.RecentStory"]"
                    <template slot-scope="scope">
                        <span v-html="scope.row.key.storyHtml"></span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @@click="thread.visible = false">@AR["Xncf.Close"]</el-button>
        </span>
    </el-dialog>
</div>

@section scripts{

    <script src="~/js/Admin/Pages/XncfModule/Start.js"></script>
    <script src="~/js/Admin/dompurify.min.js"></script>
}