@page
@model IndexModel
@using Senparc.Ncf.XncfBase
@inject IServiceProvider _serviceProvider
@functions {
    private async Task<bool> CheckXncfModuleValiable(string xncfName)
    {
        XncfRegisterManager xncfRegisterManager = new XncfRegisterManager(_serviceProvider);
        return await xncfRegisterManager.CheckXncfAvailable(xncfName).ConfigureAwait(false);
    }

    //protected async Task<string> GetDocsState()
    //{
    //    return (await CheckXncfModuleValiable("ML.Xncf.Docs")) ? "true" : "false";
    //}
}

@{
    ViewData["Title"] = $"NCF";
}

<div class="">
    <div class="index-logo">
        <img src="~/images/logo-index.webp" />
    </div>
    <div class="intro">
        <h2 class="index-simple-tip text-center">
            @SR["Web.Index.Tagline"]
        </h2>

        @SR["Web.Index.Description"]

        <div class="index-simple-notice text-center">
            @SR["Web.Index.DbSupport"]
        </div>

        <div class=" text-center">
            <span>@SR["Web.Index.CurrentTenant"]</span>
            @if (Model.RequestTenantInfo.MatchSuccess)
            {
                <strong>@Model.RequestTenantInfo.Name</strong>
            }
            else
            {
                <span>@SR["Web.Index.TenantNotMatched"]</span>
            }
        </div>

        <div class="row start-now">
            <a href="https://doc.ncf.pub" target="_blank" class="start-btn" id="btnStart">
                @SR["Web.Index.GetStarted"]
            </a>
        </div>
    </div>


    <div class="row mt-6r">
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">@SR["Web.Index.Feature.QuickSetup"]</h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.QuickSetup.Desc"]
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">
                @SR["Web.Index.Feature.AINative"]
            </h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.AINative.Desc"]
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">@SR["Web.Index.Feature.Modular"]</h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.Modular.Desc"]
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">
                @SR["Web.Index.Feature.MultiDB"]
            </h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.MultiDB.Desc"]
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">@SR["Web.Index.Feature.HighPerf"]</h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.HighPerf.Desc"]
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">@SR["Web.Index.Feature.DDD"]</h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.DDD.Desc"]
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">
                @SR["Web.Index.Feature.Dapr"]
            </h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.Dapr.Desc"]
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">
                @SR["Web.Index.Feature.BackCompat"]
            </h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.BackCompat.Desc"]
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <h3 class="index-special-title">
                @SR["Web.Index.Feature.Community"]
            </h3>
            <div class="index-special-point">
                <p>
                    @SR["Web.Index.Feature.Community.Desc"]
                </p>
            </div>
        </div>
    </div>

    <hr class="mt-6r" />
    @*<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="index-module place-hover">
    <img class="lazy" src="https://weixin.senparc.com/Content/Images/2019/logo-community-two-lines.png" width="300" height="150">
    <div class="caption">
    <p class="caption-tit">AbcDefg<br></p>
    <p class="caption-info">Placeholder text to be filled in later</p>
    </div>
    </div>
    </div>
    </div>*@
</div>
