@page
@using Senparc.Ncf.Core.Models
@using Senparc.Ncf.XncfBase
@using Senparc.CO2NET.Extensions;
@using Senparc.Ncf.XncfBase.FunctionRenders
@using Senparc.Ncf.XncfBase.Functions

@model IndexModel
@{
    ViewData["Title"] = "测试页";
}
@* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> *@
@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
@* <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
<style>
    .expand-btn {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    .modal-dialog {
        max-width: 80%;
    }

    .sticky-menu {
        position: sticky;
        top: 0;
    }
</style>

<script>
    window.addEventListener('scroll', function () {
        var menu = document.querySelector('.sticky-menu');
        var offsetTop = menu.offsetTop;
        if (window.pageYOffset >= offsetTop) {
            menu.classList.add('fixed');
        } else {
            menu.classList.remove('fixed');
        }
    });
</script>

<div class="text-center">
    <h1 class="display-4">NeuCharFramework</h1>
    <p>
        注意：此项目是 NCF 基础包的集成测试项目，仅验证编译是否能通过，无参考意义，并非 NCF 模板项目！
        <a href="https://github.com/NeuCharFramework/NCF/">点击这里</a> 查看可直接安装使用的 NCF 模板项目！
    </p>
    <hr />
    <h3>XNCF 透视</h3>

    <table class="table table-striped table-hover table-responsive table-sm text-wrap w-100" style="word-break: break-word;">
        <thead>
            <tr>
                <th>名称（Uid）</th>
                <th>注册优先级</th>
                <th>版本</th>
                <th>数据库支持</th>
                <th>线程支持</th>
                <th>Function 支持</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var registerInfo in Model.XncfRegisterList)
            {
                var item = registerInfo.XncfRegister;
                <tr>
                    <td style="white-space: normal;">
                        @item.MenuName / @item.Name
                        <br>（@item.Uid）
                    </td>
                    <td style="white-space: normal;">
                        @{
                            var orderAttr = item.GetType().GetCustomAttributes(typeof(XncfOrderAttribute), true).FirstOrDefault() as XncfOrderAttribute;
                            if (orderAttr == null)
                            {
                                <text>默认</text>
                            }
                            else
                            {
                                <text>@orderAttr.Order</text>
                            }
                        }
                    </td>
                    <td style="white-space: normal;">v@(item.Version)</td>
                    <td style="white-space: normal;">
                        @if (item is IXncfDatabase db)
                        {
                            var dbType = db.TryGetXncfDatabaseDbContextType;
                            var parentType = dbType.BaseType;
                            <span title="当前使用数据库：@dbType.Name">@parentType.Name</span>
                        }
                        else
                        {
                            <test>不支持</test>
                        }
                    </td>
                    <td style="white-space: normal;">
                        <p>
                            @if (item.RegisteredThreadInfo.Count() == 0)
                            {
                                <text>不支持</text>
                            }
                            else
                            {
                                foreach (var thread in item.RegisteredThreadInfo)
                                {
                                    <text>@thread.Key.Name / @thread.Value.ThreadState</text>
                                    <br />
                                }
                            }
                        </p>
                    </td>
                    <td class="text-left text-wrap" style="white-space: normal;">
                        @if (registerInfo.RegisterFunctionInfoList.Count() > 0)
                        {
                            <span class="expand-btn" data-toggle="modal" data-target="#functionModal_@(item.Uid)">展开</span>
                            <div class="modal fade" id="functionModal_@(item.Uid)" tabindex="-1" role="dialog" aria-labelledby="functionModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="functionModalLabel">@item.Name 的 Function 透视</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <style>
                                            .sticky-menu {
                                                position: sticky;
                                                top: 0;
                                            }
                                        </style>

                                        <script>
                                            window.addEventListener('scroll', function () {
                                                var menu = document.querySelector('.sticky-menu');
                                                var offsetTop = menu.offsetTop;
                                                if (window.pageYOffset >= offsetTop) {
                                                    menu.classList.add('fixed');
                                                } else {
                                                    menu.classList.remove('fixed');
                                                }
                                            });
                                        </script>

                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <ul class="nav flex-column sticky-menu">
                                                        @foreach (var function in registerInfo.RegisterFunctionInfoList)
                                                        {
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="#function_@(function.Name)">@(function.Name)</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="col-md-10">
                                                    @foreach (var function in registerInfo.RegisterFunctionInfoList)
                                                    {
                                                        <div id="function_@(function.Name)">
                                                            <h4>@function.Name</h4>
                                                            <p><strong>说明：@function.Description</strong></p>
                                                            <p>
                                                                参数：
                                                                @if (function.FunctionParameterInfoList.Count == 0)
                                                                {
                                                                    <span>不支持</span>
                                                                }
                                                                else
                                                                {
                                                                    <table class="table table-bordered table-sm">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>参数名称</th>
                                                                                <th>类型</th>
                                                                                <th>是否必须</th>
                                                                                <th>显示标题</th>
                                                                                <th>说明</th>
                                                                                <th>列表类型/选项</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var paraInfo in function.FunctionParameterInfoList)
                                                                            {
                                                                                <tr>
                                                                                    <td>@paraInfo.Name</td>
                                                                                    <td>@paraInfo.SystemType</td>
                                                                                    <td>@(paraInfo.IsRequired ? "是" : "否")</td>
                                                                                    <td>@paraInfo.Title</td>
                                                                                    <td>@paraInfo.Description</td>
                                                                                    <td>
                                                                                        @(paraInfo.ParameterType != ParameterType.Text ? paraInfo.ParameterType.ToString() : "")
                                                                                        @if (paraInfo.ParameterType != ParameterType.Text)
                                                                                        {
                                                                                            <table class="table table-bordered table-sm">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th>显示名称</th>
                                                                                                        <th>值</th>
                                                                                                        <th>默认</th>
                                                                                                        <th>说明</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    @foreach (var selection in paraInfo.SelectionList.Items)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>@selection.Text</td>
                                                                                                            <td>@selection.Value</td>
                                                                                                            <td>@(selection.DefaultSelected ? "是" : "否")</td>
                                                                                                            <td>@selection.Note</td>
                                                                                                        </tr>
                                                                                                    }
                                                                                                </tbody>
                                                                                            </table>
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                            </p>
                                                            <hr />
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
