@page
@model Senparc.Xncf.KnowledgeBase.Areas.Admin.Pages.KnowledgeBase.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizerFactory LocalizerFactory
@{
    var AR = LocalizerFactory.Create("Senparc.Areas.Admin.Resources.AdminResource", "Senparc.Areas.Admin");
    var CR = LocalizerFactory.Create("Senparc.Ncf.XncfBase.Resources.CommonResource", "Senparc.Ncf.XncfBase");
    ViewData["Title"] = AR["KnowledgeBase.PageTitle"];
    Layout = "_Layout_Vue";
}

@section Style {
    <link href="~/css/KnowledgeBase/KnowledgeBase/KnowledgeBase.css" rel="stylesheet" />
}

@section breadcrumbs {
    <el-breadcrumb-item>@CR["Common.ExtensionModules"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["KnowledgeBase.ManagementTitle"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["KnowledgeBase.ListTitle"]</el-breadcrumb-item>
}

<div>
    <div class="admin-role">
        <el-row class="filter-condition" :gutter="8">
            <el-col :span="2"></el-col>
            <el-col :span="5"><el-input v-model="keyword" placeholder="@CR["Common.PleaseInputKeyword"]" size="mini"></el-input></el-col>
            <el-col :span="2" class="operator_button">
                <el-button type="primary" size="mini" @@click="handleSearch()">@CR["Common.Query"]</el-button>
                <el-button type="primary" size="mini" @@click="resetCondition()">@CR["Common.Reset"]</el-button>
            </el-col>
        </el-row>
        <div class="filter-container">
            <el-row type="flex" class="row-bg" justify="end">
                <el-col :span="23">
                    <el-button class="filter-item" size="mini" type="primary" icon="el-icon-plus" @@click="handleEdit('','','add')">@CR["Common.Add"]</el-button>
                </el-col>
                <el-col :span="1">
                    <!-- 筛选按钮 -->
                    <el-popover placement="bottom" title="@CR["Common.FilterColumns"]" trigger="click" width="40">
                        <el-checkbox-group v-model="checkedColumns" size="mini">
                            <el-checkbox v-for="item in checkBoxGroup" :key="item" :label="item" :value="item"></el-checkbox>
                        </el-checkbox-group>
                        <div title="@CR["Common.FilterColumns"]" class="filter-table-col" slot="reference">
                            <i class="el-icon-s-operation"></i>
                        </div>
                    </el-popover>
                </el-col>
            </el-row>
        </div>
        <el-table :data="tableData" style="width:100%;" size="mini" max-height="700" row-key="id" border ref="multipleTable" @@selection-change="handleSelectionChange" @@row-dblclick="handleDbClick">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column v-if="colData[0].istrue" prop="embeddingModelId" align="left" label="@AR["KnowledgeBase.EmbeddingModelId"]" sortable :filters="filterTableHeader.embeddingModelId" :filter-method="filterHandler"></el-table-column>

            <el-table-column v-if="colData[1].istrue" prop="vectorDBId" align="left" label="@AR["KnowledgeBase.VectorDBId"]" sortable :filters="filterTableHeader.vectorDBId" :filter-method="filterHandler"></el-table-column>

            <el-table-column v-if="colData[2].istrue" prop="chatModelId" align="left" label="@AR["KnowledgeBase.ChatModelId"]" sortable :filters="filterTableHeader.chatModelId" :filter-method="filterHandler"></el-table-column>

            <el-table-column v-if="colData[3].istrue" prop="name" align="left" label="@CR["Common.Name"]" sortable :filters="filterTableHeader.name" :filter-method="filterHandler"></el-table-column>

            <el-table-column v-if="colData[4].istrue" prop="content" align="left" label="@CR["Common.Content"]" sortable :filters="filterTableHeader.content" :filter-method="filterHandler"></el-table-column>

            <el-table-column align="center"
                             label="@CR["Common.AddTime"]" sortable>
                <template slot-scope="scope">
                    {{formaTableTime(scope.row.addTime)}}
                </template>
            </el-table-column>
            <el-table-column label="@CR["Common.Action"]" align="center" fixed="right" width="350">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               @@click="handleElVisibleOpenBtn('drawerGroup',scope.row)">@CR["Common.Configure"]</el-button>
                    <el-button size="mini"
                               type="primary"
                               @@click="handleEmbeddingBtn('embedding',scope.row)">@AR["KnowledgeBase.Vectorize"]</el-button>
                    <el-button size="mini"
                               type="primary"
                               @@click="handleEdit(scope.$index, scope.row,'edit')">@CR["Common.Edit"]</el-button>
                    <el-popconfirm placement="top" title="@AR["KnowledgeBase.ConfirmDeleteKnowledgeBase"]" @@on-confirm="handleDelete(scope.$index, scope.row)">
                        <el-button size="mini" type="danger" slot="reference">@CR["Common.Delete"]</el-button>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>

        <pagination :total="paginationQuery.total"
                    :page.sync="listQuery.pageIndex"
                    :limit.sync="listQuery.pageSize"
                    @@pagination="getList"></pagination>
        <!--编辑、新增-->
        <el-dialog :title="dialog.title"
                   :visible.sync="dialog.visible"
                   :close-on-click-modal="false"
                   width="600px">
            <el-form ref="dataForm"
                     :rules="dialog.rules"
                     :model="dialog.data"
                     :disabled="dialog.disabled"
                     size="mini"
                     label-position="left"
                     label-width="150px"
                     style="max-width: 600px; margin-left:50px;">
                <el-form-item label="@CR["Common.Name"]" prop="name">
                    <el-input size="mini" v-model="dialog.data.name" clearable placeholder="@CR["Common.PleaseInputName"]" />
                </el-form-item>

                <el-form-item label="@AR["KnowledgeBase.SelectEmbeddingModel"]">
                    <el-cascader v-model="selectDefaultEmbeddingModel"
                                 :options="embeddingModelData"
                                 @@change="selectEmbeddingModel"
                                 clearable
                                 filterable
                                 :props="{label:'alias',value:'id'}">
                    </el-cascader>
                </el-form-item>

                <el-form-item label="@AR["KnowledgeBase.EmbeddingModelId"]" prop="embeddingModelId" class="hidden">
                    <el-input size="mini" v-model="dialog.data.embeddingModelId" clearable placeholder="@AR["KnowledgeBase.PleaseInputEmbeddingModelId"]" />
                </el-form-item>

                <el-form-item label="@AR["KnowledgeBase.SelectVectorDB"]">
                    <el-cascader v-model="selectDefaultVectorDB"
                                 :options="vectorDBData"
                                 @@change="selectVectorDB"
                                 clearable
                                 filterable
                                 :props="{label:'alias',value:'id'}">
                    </el-cascader>
                </el-form-item>

                <el-form-item label="@AR["KnowledgeBase.VectorDBId"]" prop="vectorDBId" class="hidden">
                    <el-input size="mini" v-model="dialog.data.vectorDBId" clearable placeholder="@AR["KnowledgeBase.PleaseInputVectorDBId"]" />
                </el-form-item>

                <el-form-item label="@AR["KnowledgeBase.SelectChatModel"]">
                    <el-cascader v-model="selectDefaultChatModel"
                                 :options="chatModelData"
                                 @@change="selectChatModel"
                                 clearable
                                 filterable
                                 :props="{label:'alias',value:'id'}">
                    </el-cascader>
                </el-form-item>

                <el-form-item label="@AR["KnowledgeBase.ChatModelId"]" prop="chatModelId" class="hidden">
                    <el-input size="mini" v-model="dialog.data.chatModelId" clearable placeholder="@AR["KnowledgeBase.PleaseInputChatModelId"]" />
                </el-form-item>

                <el-form-item label="@CR["Common.Content"]" prop="content">
                    <el-input type="textarea" size="mini" v-model="dialog.data.content" clearable placeholder="@CR["Common.PleaseInputContent"]" />
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @@click="dialog.visible=false">@CR["Common.Cancel"]</el-button>
                <el-button size="mini" :loading="dialog.updateLoading" :disabled="dialog.disabled" type="primary" @@click="updateData">@CR["Common.Confirm"]</el-button>
            </div>
        </el-dialog>

        @* 抽屉 新增|编辑知识库关联 *@
        <el-drawer :visible.sync="visible.drawerGroup" direction="rtl" :with-header="false" :wrapper-closable="false"
                   :close-on-press-escape="false" size="960px">
            <div class="drawerRtl">
                @* 内容中的头（包括标题和关闭图标） *@
                <div class="drawerRtl__header">
                    <div class="drawerRtl__header__title">{{ groupForm.id ? '编辑知识库关联' : '新增知识库关联' }} </div>
                    <div class="drawerRtl__header__close" @@click="handleElVisibleClose('drawerGroup')">&times;</div>
                </div>
                @* 内容中的主体内容 *@
                <div class="drawerRtl__body">
                    <el-form v-if="visible.drawerGroup" ref="groupELForm" :model="groupForm" :rules="groupFormRules"
                             :size="elSize" label-position="left" label-width="130px" class="drawerForm-container">
                        <el-form-item label="@AR["KnowledgeBase.ContentType"]">
                            <el-select size="mini" v-model="groupForm.contentType" placeholder="@AR["KnowledgeBase.PleaseSelectContentType"]">
                                <el-option v-for="item in contentTypeData" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item v-if="groupForm.contentType === 2" label="@AR["KnowledgeBase.FileList"]" prop="files">
                            <div class="groupFMB">
                                <div class="df-wn flex-ac flex-jsb" style="gap: 10px;margin-bottom: 10px;">
                                    <div class="df-wn flex-ac" style="gap: 10px;">
                                        <el-input v-model="fileQueryList.filter" size="small"
                                                  placeholder="@CR["Common.FileName"]" style="width:auto;"></el-input>
                                        <el-button size="small" icon="el-icon-search"
                                                   @@click="handleConfigFileSearch">@CR["Common.Search"]</el-button>
                                    </div>
                                </div>
                                <div class="df-wn flex-ac flex-jsb" style="gap: 10px;margin-bottom: 10px;">
                                    <div class="df-wn flex-ac" style="gap: 10px;">
                                        <el-button size="small" type="primary" icon="el-icon-upload2"
                                                   @@click="handleElVisibleOpenBtn('dialogFile')">@CR["Common.UploadFile"]</el-button>
                                        <el-button size="small" type="danger" icon="el-icon-delete"
                                                   @@click="handleConfigFileBatchDelete">@CR["Common.BatchDelete"]</el-button>
                                    </div>
                                </div>
                                <div class="df-wn flex-as flex-js" style="gap: 10px;margin-bottom: 10px;">
                                    <span class="groupFMB_ma_label">@CR["Common.SelectedColon"]</span>
                                    <div class="groupFMB_ma_list">
                                        <div class="df flex-ac flex-js" style="gap:10px">
                                            <div v-for="(item,index) in groupForm.files" :key="item.id"
                                                 class="df-wn flex-ac groupFMB_ma_list_item">
                                                <span class="groupFMB_ma_list_item_text">{{ item.name }}</span>
                                                <i class="el-icon-close cursorPointer"
                                                   @@click="groupMembersCancel(item,index)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <el-table ref="groupAgentTable" key="groupAgentTable" :data="fileList" max-height="380"
                                          style="width: 100%;margin-bottom: 10px;border: 1px solid rgba(229, 229, 229, 1);"
                                          @@selection-change="handleConfigFileSelectionChange">
                                    <el-table-column type="selection" width="30"></el-table-column>
                                    <el-table-column prop="fileName" label="@CR["Common.FileName"]" width="200"
                                                     show-overflow-tooltip></el-table-column>
                                    <el-table-column prop="fileSize" label="@CR["Common.FileSize"]" width="100">
                                    </el-table-column>
                                    <el-table-column label="@AR["FileManager.UploadTime"]" width="130" align="center">
                                        <template slot-scope="scope">
                                            {{ formaTableTime(scope.row.uploadTime) }}
                                        </template>
                                    </el-table-column>
                              @*       <el-table-column prop="description" label="@AR["Auto.UI.3bdd08adab6e"]" min-width="100">
                                    </el-table-column> *@
                                    <el-table-column fixed="right" label="@CR["Common.Action"]" width="130">
                                        <template slot-scope="{ row }">
                                            @* <el-button type="primary" size="small"
                                                       @@click="handleEditDrawerOpenBtn('dialogGroupAgent',row)">@CR["Common.Edit"]</el-button> *@
                                            <el-button type="danger" size="small"
                                                       @@click="handleConfigFileDelete(row)">@CR["Common.Delete"]</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="df-wn flex-ac flex-jsb" style="margin-top:10px;flex-wrap:wrap;gap:8px;">
                                    <span class="el-pagination__total" style="margin-right:12px;">当前选中 {{ groupForm.files.length }} 行</span>
                                    <el-pagination :current-page.sync="fileQueryList.pageIndex"
                                                   :page-size="fileQueryList.pageSize"
                                                   :page-sizes="[10, 20, 50,100]"
                                                   :total="fileListTotal"
                                                   layout="total, sizes, prev, pager, next, jumper"
                                                   @@size-change="handleConfigFileSizeChange"
                                                   @@current-change="handleConfigFilePageChange">
                                    </el-pagination>
                                </div>
                            </div>
                        </el-form-item>
                        <el-form-item v-if="groupForm.contentType === 1 || groupForm.contentType === 3" label="@CR["Common.Content"]">
                            <el-input type="textarea" v-model="groupForm.content" :rows="4" placeholder="@CR["Common.PleaseFill"]"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
                @* 内容中固定的footer *@
                <div class="drawerRtl__footer text-right">
                    <el-button :size="elSize" @@click="handleElVisibleClose('drawerGroup')">@CR["Common.Cancel"]</el-button>
                    <el-button :size="elSize" type="primary" @@click="handleElVisibleSubmit('drawerGroup')">@CR["Common.Confirm"]</el-button>
                </div>
            </div>
        </el-drawer>

        @* 配置页内「新建文件」上传弹框：选择文件后调用上传接口写入 FileManage，保存时与知识库关联 *@
        <el-dialog title="@AR["FileManager.NewFile"]"
                   :visible.sync="visible.dialogFile"
                   width="480px"
                   :close-on-click-modal="false"
                   @@close="handleDialogFileClose">
            <el-upload class="upload-demo"
                       ref="configUploadRef"
                       action="/api/Senparc.Xncf.KnowledgeBase/CommonService/Xncf.KnowledgeBase_CommonService.UploadAsync"
                       :auto-upload="true"
                       :multiple="true"
                       :show-file-list="true"
                       :on-success="configUploadSuccess"
                       :on-error="configUploadError"
                       :file-list="configUploadFileList">
                <el-button slot="trigger" size="small" type="primary">@CR["Common.SelectFile"]</el-button>
                <div slot="tip" class="el-upload__tip">@AR["Auto.UI.b82bce0cf35f"]</div>
            </el-upload>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @@click="visible.dialogFile = false">@CR["Common.Close"]</el-button>
            </div>
        </el-dialog>

        @* 向量化进度弹窗 *@
        <el-dialog title="@AR["KnowledgeBase.EmbeddingProgress"]"
                   :visible.sync="visible.embeddingProgress"
                   width="420px"
                   :close-on-click-modal="false"
                   :close-on-press-escape="false"
                   :show-close="false">
            <div class="embedding-progress-body">
                <el-progress :percentage="embeddingProgressPercent" :status="embeddingProgressStatus"></el-progress>
                <p class="embedding-progress-text">{{ embeddingProgressText }}</p>
            </div>
        </el-dialog>

        @* 向量化结果展示弹窗 *@
        <el-dialog title="@AR["KnowledgeBase.EmbeddingResult"]"
                   :visible.sync="visible.embeddingResult"
                   width="560px"
                   @@close="embeddingResultText = ''">
            <div class="embedding-result-body">
                <pre class="embedding-result-pre">{{ embeddingResultText }}</pre>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" size="small" @@click="visible.embeddingResult = false; getList()">@CR["Common.Confirm"]</el-button>
            </div>
        </el-dialog>
    </div>
</div>
@section scripts
{
    <script src="~/js/KnowledgeBase/Pages/KnowledgeBase/knowledgeBase.js"></script>
}