@page
@model Senparc.Xncf.AIKernel.Areas.AIVector.Pages.Index
@inject Microsoft.Extensions.Localization.IStringLocalizerFactory LocalizerFactory
@{
    var AR = LocalizerFactory.Create("Senparc.Areas.Admin.Resources.AdminResource", "Senparc.Areas.Admin");
    var CR = LocalizerFactory.Create("Senparc.Ncf.XncfBase.Resources.CommonResource", "Senparc.Ncf.XncfBase");
    ViewData["Title"] = AR["AIVector.HomeTitle"];
    Layout = "_Layout_Vue";
}

@section Style {
    <link href="~/css/Admin/AIVector/index.css" rel="stylesheet" />
}

@section breadcrumbs {
    <el-breadcrumb-item>@CR["Common.ExtensionModules"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["AIKernel.ModuleName"]</el-breadcrumb-item>
    <el-breadcrumb-item>@CR["Common.Home"]</el-breadcrumb-item>
}

<div>
    <div class="filter-container">
        <el-button type="primary" icon="el-icon-plus" size="small" @@click="addVector">@CR["Common.Add"]</el-button>
    </div>

    <el-table :data="tableData" v-loading="tableLoading" border>
        @* alias *@
        <el-table-column prop="alias" label="@CR["Common.Alias"]" width="auto"></el-table-column>
        <el-table-column prop="name" label="@AR["AIKernel.DeploymentName"]" width="auto"></el-table-column>
        <el-table-column prop="connectionString" label="Endpoint" width="auto"></el-table-column>
        <el-table-column prop="vectorDBType" label="@AR["AIVector.VectorDBType"]" width="auto">
            <template slot-scope="scope">
                <span v-if="scope.row.vectorDBType===0">Memory</span>
                <span v-else-if="scope.row.vectorDBType===1">HardDisk</span>
                <span v-else-if="scope.row.vectorDBType===2">Redis</span>
                <span v-else-if="scope.row.vectorDBType===3">Milvus</span>
                <span v-else-if="scope.row.vectorDBType===4">Chroma</span>
                <span v-else-if="scope.row.vectorDBType===5">PostgreSQL</span>
                <span v-else-if="scope.row.vectorDBType===6">Sqlite</span>
                <span v-else-if="scope.row.vectorDBType===7">SqlServer</span>
                <span v-else-if="scope.row.vectorDBType===8">Qdrant</span>
                @*                 <span v-else-if="scope.row.vectorDBType===9">Milvus</span>
                <span v-else-if="scope.row.vectorDBType===10">MongoDB</span>
                <span v-else-if="scope.row.vectorDBType===11">Pinecon</span>
                <span v-else-if="scope.row.vectorDBType===12">Postgres</span>
                <span v-else-if="scope.row.vectorDBType===13">Qdrant</span>
                <span v-else-if="scope.row.vectorDBType===14">Redis</span>
                <span v-else-if="scope.row.vectorDBType===15">SqlServer</span>
                <span v-else-if="scope.row.vectorDBType===16">SQLite</span>
                <span v-else-if="scope.row.vectorDBType===17">VolatileInMemory</span>
                <span v-else-if="scope.row.vectorDBType===18">Weaviate</span> *@
            </template>
        </el-table-column>
        <el-table-column prop="note" label="@CR["Common.Remark"]" width="auto"></el-table-column>
        <el-table-column prop="addTime" label="@CR["Common.AddTime"]" width="auto">
            <template slot-scope="scope">
                {{ dateformatter(scope.row.addTime) }}
            </template>
        </el-table-column>
        @* 操作 *@
        <el-table-column label="@CR["Common.Action"]" width="auto">
            <template slot-scope="scope">
                <el-button type="primary" size="mini" @@click="editModel(scope.row)">@CR["Common.Edit"]</el-button>
                <el-button type="danger" size="mini" @@click="deleteModel(scope.row)">@CR["Common.Delete"]</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="pagination-container">
        <el-pagination @@current-change="handleCurrentChange"
                       @@size-change="handleSizeChange"
                       :current-page="page.page"
                       :page-sizes="[10, 20, 30, 40]"
                       :page-size="page.size"
                       layout="sizes, prev, next, jumper"
                       :total="total"
                       background
                       style="margin-top: 20px">
        </el-pagination>
    </div>


    @* dialog for 添加向量数据库 *@
    <el-dialog title="@AR["AIVector.AddVectorDB"]" :visible.sync="addFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="addForm" label-width="120px" :rules="addRules" ref="addForm">
            <el-form-item label="@CR["Common.Alias"]" prop="alias">
                <el-input v-model="addForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="@AR["AIVector.VectorDBType"]" prop="vectorDBType">
                <el-select v-model="addForm.vectorDBType" placeholder="@CR["Common.PleaseSelect"]">
                    <el-option label="Memory" value="0"></el-option>
                    <el-option label="HardDisk" value="1"></el-option>
                    <el-option label="Redis" value="2"></el-option>
                    <el-option label="Milvus" value="3"></el-option>
                    <el-option label="Chroma" value="4"></el-option>
                    <el-option label="PostgreSQL" value="5"></el-option>
                    <el-option label="Sqlite" value="6"></el-option>
                    <el-option label="SqlServer" value="7"></el-option>
                    <el-option label="Qdrant" value="8"></el-option>
                    @* <el-option label="Milvus" value="9"></el-option>
                    <el-option label="MongoDB" value="10"></el-option>
                    <el-option label="Pinecon" value="11"></el-option>
                    <el-option label="Postgres" value="12"></el-option>
                    <el-option label="Qdrant" value="13"></el-option>
                    <el-option label="Redis" value="14"></el-option>
                    <el-option label="SqlServer" value="15"></el-option>
                    <el-option label="SQLite" value="16"></el-option>
                    <el-option label="VolatileInMemory" value="17"></el-option>
                    <el-option label="Weaviate" value="18"></el-option> *@
                </el-select>
            </el-form-item>
            <el-form-item label="@CR["Common.Name"]" prop="name">
                <el-input v-model="addForm.name"></el-input>
            </el-form-item>
            <el-form-item label="@AR["AIVector.ConnectionString"]" prop="connectionString">
                <el-input v-model="addForm.connectionString"></el-input>
            </el-form-item>
            <el-form-item label="@CR["Common.Remark"]" prop="note">
                <el-input v-model="addForm.note"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="addFormDialogVisible = false">@CR["Common.Cancel"]</el-button>
            <el-button type="primary" @@click="addModelSubmit">@CR["Common.Confirm"]</el-button>
        </span>
    </el-dialog>
    @* dialog for 编辑向量数据库 *@
    <el-dialog title="@AR["AIVector.EditVectorDB"]" :visible.sync="editFormDialogVisible" width="50%" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px" :rules="editRules" ref="editForm">
            <el-form-item label="@CR["Common.Alias"]" prop="alias">
                <el-input v-model="editForm.alias"></el-input>
            </el-form-item>
            <el-form-item label="@AR["AIVector.VectorDBType"]" prop="vectorDBType">
                <el-select v-model="editForm.vectorDBType" placeholder="@CR["Common.PleaseSelect"]">
                    <el-option label="Memory" value="0"></el-option>
                    <el-option label="HardDisk" value="1"></el-option>
                    <el-option label="Redis" value="2"></el-option>
                    <el-option label="Milvus" value="3"></el-option>
                    <el-option label="Chroma" value="4"></el-option>
                    <el-option label="PostgreSQL" value="5"></el-option>
                    <el-option label="Sqlite" value="6"></el-option>
                    <el-option label="SqlServer" value="7"></el-option>
                    <el-option label="Qdrant" value="8"></el-option>
                    @* <el-option label="Milvus" value="9"></el-option>
                    <el-option label="MongoDB" value="10"></el-option>
                    <el-option label="Pinecon" value="11"></el-option>
                    <el-option label="Postgres" value="12"></el-option>
                    <el-option label="Qdrant" value="13"></el-option>
                    <el-option label="Redis" value="14"></el-option>
                    <el-option label="SqlServer" value="15"></el-option>
                    <el-option label="SQLite" value="16"></el-option>
                    <el-option label="VolatileInMemory" value="17"></el-option>
                    <el-option label="Weaviate" value="18"></el-option> *@
                </el-select>
            </el-form-item>

            <el-form-item label="@CR["Common.Name"]" prop="name">
                <el-input v-model="editForm.name"></el-input>
            </el-form-item>
            <el-form-item label="@AR["AIVector.ConnectionString"]" prop="connectionString">
                <el-input v-model="editForm.connectionString"></el-input>
            </el-form-item>
            <el-form-item label="@CR["Common.Remark"]" prop="note">
                <el-input v-model="editForm.note"></el-input>
            </el-form-item>
            <el-form-item label="@CR["Common.Show"]" prop="show">
                @* use switch *@
                <el-switch v-model="editForm.show"></el-switch>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="editFormDialogVisible = false">@CR["Common.Cancel"]</el-button>
            <el-button type="primary" @@click="editModelSubmit">@CR["Common.Confirm"]</el-button>
        </span>
    </el-dialog>

</div>

@section scripts {
    <script src="~/js/Admin/AIVector/index.js"></script>
}