@page
@model Senparc.Areas.Admin.Areas.Admin.Pages.MenuIndexModel
@{
    ViewData["Title"] = AR["Menu.Management"]; Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/Admin/Menu/Menu.css" rel="stylesheet" />
}
@section breadcrumbs {
    <el-breadcrumb-item>@AR["Common.SystemManagement"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["Menu.List"]</el-breadcrumb-item>
}
<div>
    <div class="admin-role">
        <div class="filter-container">
            <el-button class="filter-item" type="primary" icon="el-icon-plus" @@click="handleEdit('','','add')">@AR["Menu.AddMenu"]</el-button>
        </div>
        <el-table :data="tableData"
                  style="width: 100%;margin-bottom: 20px;"
                  row-key="id"
                  border
                  default-expand-all
                  :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
            <el-table-column prop="menuName" align="left"
                             label="@AR["Menu.Name"]">
            </el-table-column>
            <el-table-column prop="sort" align="center"
                             label="@AR["Common.Sort"]"
                             sortable>
            </el-table-column>
            <el-table-column prop="adminRemark" align="center"
                             label="@AR["Common.Remark"]">
            </el-table-column>
            <el-table-column prop="remark" align="center"
                             label="@AR["Common.Description"]">
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Common.AddTime"]">
                <template slot-scope="scope">
                    {{formaTableTime(scope.row.addTime)}}
                </template>
            </el-table-column>
            <el-table-column label="@AR["Common.Action"]" align="center">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               @@click="handleEdit(scope.$index, scope.row,'edit')">@AR["Common.Edit"]</el-button>
                    <el-button size="mini"
                               type="primary"
                               v-if="scope.row.children"
                               @@click="handleEdit(scope.$index, scope.row,'addNext')">@AR["Menu.AddSubMenu"]</el-button>
                    <el-popconfirm placement="top" title="@AR["Menu.ConfirmDelete"]" @@on-confirm="handleDelete(scope.$index, scope.row)">
                        <el-button size="mini" type="danger" slot="reference">@AR["Common.Delete"]</el-button>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
        <!--编辑、新增 -->
        <el-dialog :title="dialog.title" :visible.sync="dialog.visible" :close-on-click-modal="false">
            <el-form ref="dataForm"
                     :rules="dialog.rules"
                     :model="dialog.data"
                     :disabled="dialog.disabled"
                     label-position="left"
                     label-width="100px"
                     style="max-width: 400px; margin-left:50px;">
                <el-form-item label="@AR["Menu.Name"]" prop="menuName">
                    <el-input v-model="dialog.data.menuName" clearable placeholder="" />
                </el-form-item>
                <el-form-item label="@AR["Menu.Parent"]">
                    <el-cascader v-model="dialog.data.parentId"
                                 :options="tableData"
                                 clearable
                                 :props="{ checkStrictly: dialog.checkStrictly,label: 'menuName',value:'id'}">
                    </el-cascader>
                </el-form-item>
                <el-form-item label="@AR["Common.Sort"]">
                    <el-input type="number" v-model="dialog.data.sort" clearable placeholder="" />
                </el-form-item>
                <el-form-item label="@AR["Menu.Type"]" prop="menuType">
                    <el-radio-group v-model="dialog.data.menuType">
                        <el-radio :label="1">@AR["Menu.Menu"]</el-radio>
                        <el-radio :label="2">@AR["Menu.Page"]</el-radio>
                        <el-radio :label="3">@AR["Menu.Button"]</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="@AR["Menu.Path"]">
                    <el-input v-model="dialog.data.url" clearable placeholder="" />
                </el-form-item>
                <el-form-item label="@AR["Menu.ActionCode"]" prop="resourceCode">
                    <el-input v-model="dialog.data.resourceCode" clearable placeholder="" />
                </el-form-item>
                <el-form-item label="@AR["Menu.IsLocked"]">
                    <el-switch v-model="dialog.data.isLocked"></el-switch>
                </el-form-item>
                <el-form-item label="@AR["Menu.IsVisible"]">
                    <el-switch v-model="dialog.data.visible"></el-switch>
                </el-form-item>
                <el-form-item label="@AR["Menu.Icon"]">
                    <i v-if="dialog.data.icon" :class="'fa '+dialog.data.icon"></i>
                    <el-button @@click="dialogIcon.visible=true" plain style="margin-left:15px;">@AR["Menu.SelectIcon"]</el-button>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialog.visible = false">@AR["Common.Cancel"]</el-button>
                <el-button :loading="dialog.updateLoading" :disabled="dialog.disabled" type="primary" @@click="updateData">@AR["Common.Confirm"]</el-button>
            </div>
        </el-dialog>
        <!--选择图标-->
        <el-dialog title="@AR["Menu.IconList"]" :visible.sync="dialogIcon.visible">
            <div class="menu-icons-grid">
                <div v-for="item in dialogIcon.elementIcons" class="menu-icon-item" @@click="pickIcon(item)">
                    <i :class="'fa ' + item"></i>
                    <span>{{item}}</span>
                </div>
            </div>
        </el-dialog>
    </div>
</div>
@section scripts{
    <script src="~/js/Admin/Pages/Menu/Index.js"></script>
}
