@page

@model Senparc.Areas.Admin.Areas.Admin.Pages.AdminUserInfo_EditModel
@{
    ViewData["Title"] = Model.IsEdit ? AR["AdminUserInfo.EditTitle.Edit"] : AR["AdminUserInfo.EditTitle.Add"];
}


@section breadcrumbs{
    <li>
        <a asp-Page="/AdminUserInfo">@AR["AdminUserInfo.管理员管理"]</a>
    </li>
    <li>
        @ViewData["Title"]
    </li>
}
<!-- Edit admin user -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <form class="form-horizontal form-label-left" novalidate method="post">
                    <input type="hidden" asp-for="Id" />
                    <div style="position:absolute;left:-9999px">
                        <input name="old-userName" type="text">
                        <input name="old-pwd" type="password">
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            @AR["AdminUserInfo.Username"] @*<span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="AdminUserInfo.UserName" class="form-control col-md-7 col-xs-12" data-validate-length="1,20" placeholder="@AR["AdminUserInfo.UsernamePlaceholder"]" required="required" type="text">
                            @AR["AdminUserInfo.UsernameWarning"]
                            <span asp-validation-for="AdminUserInfo.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="password" class="control-label col-md-3">@AR["AdminUserInfo.Password"]</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="AdminUserInfo.Password" type="password" data-validate-length="5,12" class="form-control col-md-7 col-xs-12" placeholder="@AR["AdminUserInfo.PasswordPlaceholder"]">
                            <span asp-validation-for="AdminUserInfo.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">@AR["AdminUserInfo.ConfirmPassword"]</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="password2" type="password" data-validate-linked="password" class="form-control col-md-7 col-xs-12" placeholder="@AR["AdminUserInfo.ConfirmPasswordPlaceholder"]">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            @AR["AdminUserInfo.RealName"]
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="AdminUserInfo.RealName" type="text" class="form-control col-md-7 col-xs-12" placeholder="@AR["AdminUserInfo.RealNamePlaceholder"]">
                            <span asp-validation-for="AdminUserInfo.RealName" class="text-danger"></span>

                            @*<textarea id="textarea" name="textarea" class="form-control col-md-7 col-xs-12"></textarea>*@
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            @AR["AdminUserInfo.Phone"]
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="AdminUserInfo.Phone" type="text" class="form-control col-md-7 col-xs-12" placeholder="@AR["AdminUserInfo.PhonePlaceholder"]">
                            <span asp-validation-for="AdminUserInfo.Phone" class="text-danger"></span>

                            @*<textarea id="textarea" name="textarea" class="form-control col-md-7 col-xs-12"></textarea>*@
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            @AR["Common.备注"]
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="AdminUserInfo.Note" type="text" class="form-control col-md-7 col-xs-12" placeholder="@AR["AdminUserInfo.NotePlaceholder"]" multiple="multiple">
                            <span asp-validation-for="AdminUserInfo.Note" class="text-danger"></span>

                            @*<textarea id="textarea" name="textarea" class="form-control col-md-7 col-xs-12"></textarea>*@
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <a asp-page="./Index" class="btn btn-primary">@AR["Common.取消"]</a>
                            <button id="send" type="submit" class="btn btn-success">@AR["Common.提交"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
