@page "{handler?}"
@model Senparc.Areas.Admin.Areas.Admin.Pages.AdminUserInfo_IndexModel
@addTagHelper *, Senparc.Areas.Admin
@{
    ViewData["Title"] = AR["AdminUserInfo.管理员管理"]; Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/Admin/AdminUserInfo/AdminUserInfo.css" rel="stylesheet" />
}
@section breadcrumbs {
    <el-breadcrumb-item>@AR["Common.系统管理"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["AdminUserInfo.列表"]</el-breadcrumb-item>
}
<div>
    <div class="admin-user-info">
        <div class="filter-container">
            <el-button class="filter-item" v-has="['admin-add']" type="primary" icon="el-icon-plus" @@click="handleEdit">@AR["Common.增加"]</el-button>
        </div>
        <el-table :data="tableData"
                  border
                  style="width: 100%">
            <el-table-column align="center"
                             label="id"
                             width="80">
                <template slot-scope="scope">
                    {{ scope.row.id}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["AdminUserInfo.Username"]"
                             width="180">
                <template slot-scope="scope">
                    {{ scope.row.userName}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Common.备注"]">
                <template slot-scope="scope">
                    {{ scope.row.displayNote}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Common.添加时间"]">
                <template slot-scope="scope">
                    {{formaTableTime(scope.row.addTime)}}
                </template>
            </el-table-column>
            <el-table-column label="@AR["Common.操作"]" align="center">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               v-has="['admin-edit']"
                               @@click="handleEdit(scope.$index, scope.row)">@AR["Common.编辑"]</el-button>
                    <el-button size="mini"
                               type="primary"
                               v-has="['admin-grant']"
                               @@click="handleSet(scope.$index, scope.row)">@AR["AdminUserInfo.设置角色"]</el-button>
                    <template v-has="['admin-delete']">
                        <el-popconfirm placement="top" title="@AR["AdminUserInfo.确认删除"]" @@on-confirm="handleDelete(scope.$index, scope.row)">
                            <el-button size="mini" type="danger" slot="reference">@AR["Common.删除"]</el-button>
                        </el-popconfirm>
                    </template>
                </template>
            </el-table-column>
        </el-table>
        <pagination :total="paginationQuery.total"
                    :page.sync="listQuery.pageIndex"
                    :limit.sync="listQuery.pageSize"
                    @@pagination="getList"></pagination>
        <!-- Edit / Add -->
        <el-dialog :title="dialog.title" :visible.sync="dialog.visible" :close-on-click-modal="false">
            <el-form ref="dataForm"
                     :rules="dialog.rules"
                     :model="dialog.data"
                     label-position="left"
                     label-width="100px"
                     style="max-width: 400px; margin-left:50px;">
                <p class="username-tip" v-if="dialog.title==='@Html.Raw(AR["AdminUserInfo.EditTitle.Edit"])'">@AR["AdminUserInfo.UsernameWarning"]</p>
                <el-form-item label="@AR["AdminUserInfo.Username"]" prop="userName">
                    <el-input v-model="dialog.data.userName" clearable placeholder="@AR["AdminUserInfo.UsernamePlaceholder"]" />
                </el-form-item>
                <el-form-item label="@AR["AdminUserInfo.Password"]" :error="dialog.passwordError" :required="isVerPass">
                    <el-input v-model="dialog.data.password" show-password clearable placeholder="@AR["AdminUserInfo.PasswordPlaceholder"]" />
                </el-form-item>
                <el-form-item label="@AR["AdminUserInfo.ConfirmPassword"]" :error="dialog.password2Error" :required="isVerPass">
                    <el-input v-model="dialog.data.password2" show-password clearable placeholder="@AR["AdminUserInfo.ConfirmPasswordPlaceholder"]" />
                </el-form-item>
                <el-form-item label="@AR["AdminUserInfo.RealName"]" prop="realName">
                    <el-input v-model="dialog.data.realName" clearable placeholder="@AR["AdminUserInfo.RealNamePlaceholder"]" />
                </el-form-item>
                <el-form-item label="@AR["AdminUserInfo.Phone"]" prop="phone">
                    <el-input v-model="dialog.data.phone" clearable placeholder="@AR["AdminUserInfo.PhonePlaceholder"]" />
                </el-form-item>
                <el-form-item label="@AR["Common.备注"]" prop="note">
                    <el-input v-model="dialog.data.note" clearable placeholder="@AR["AdminUserInfo.NotePlaceholder"]" />
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialog.visible = false">@AR["Common.取消"]</el-button>
                <el-button :loading="dialog.updateLoading" type="primary" @@click="updateData">@AR["Common.确认"]</el-button>
            </div>
        </el-dialog>
        <!-- Assign roles -->
        <el-dialog :title="'@Html.Raw(AR["AdminUserInfo.SetRolePrefix"])'+dialog.setTitle" :visible.sync="dialog.visibleSet">
            <el-checkbox-group v-model="dialog.dialogSetSelected">
                <el-checkbox v-for="item in dialog.dialogSetData" :label="item.value" border>{{item.text}}</el-checkbox>
            </el-checkbox-group>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialog.visibleSet = false">@AR["Common.取消"]</el-button>
                <el-button :loading="dialog.updateLoading" type="primary" @@click="updateDataSet">@AR["Common.确认"]</el-button>
            </div>
        </el-dialog>
    </div>
</div>
@section scripts{
    <script src="~/js/Admin/Pages/AdminUserInfo/Index.js"></script>
}