@page
@model Senparc.Areas.Admin.Areas.Admin.Pages.RoleIndexModel
@{
    ViewData["Title"] = AR["Role.Management"]; Layout = "_Layout_Vue";
}
@section breadcrumbs {
    <el-breadcrumb-item>@AR["Common.SystemManagement"]</el-breadcrumb-item>
    <el-breadcrumb-item>@AR["Role.List"]</el-breadcrumb-item>
}

<div>
    <div class="admin-role">
        <div class="filter-container">
            <el-button class="filter-item" v-has="['role-add']" type="primary" icon="el-icon-plus" @@click="handleEdit">@AR["Common.Add"]</el-button>
        </div>
        <el-table :data="tableData"
                  border
                  style="width: 100%">
            <el-table-column align="center"
                             label="@AR["Role.Name"]">
                <template slot-scope="scope">
                    {{ scope.row.roleName}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Role.Code"]">
                <template slot-scope="scope">
                    {{ scope.row.roleCode}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Common.Remark"]">
                <template slot-scope="scope">
                    {{ scope.row.adminRemark}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Common.Description"]">
                <template slot-scope="scope">
                    {{ scope.row.remark}}
                </template>
            </el-table-column>
            <el-table-column align="center"
                             label="@AR["Common.AddTime"]">
                <template slot-scope="scope">
                    {{formaTableTime(scope.row.addTime)}}
                </template>
            </el-table-column>
            <el-table-column label="@AR["Common.Action"]" align="center">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               v-has="['role-edit']"
                               @@click="handleEdit(scope.$index, scope.row)">@AR["Common.Edit"]</el-button>
                    <el-button size="mini"
                               type="primary"
                               v-has="['role-grant']"
                               @@click="handleRole(scope.$index, scope.row)">@AR["Role.Permissions"]</el-button>
                    <el-popconfirm placement="top" title="@AR["Role.ConfirmDelete"]" v-has="['role-delete']" @@on-confirm="handleDelete(scope.$index, scope.row)">
                        <el-button size="mini" type="danger" slot="reference">@AR["Common.Delete"]</el-button>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
        <pagination :total="paginationQuery.total"
                    :page.sync="listQuery.pageIndex"
                    :limit.sync="listQuery.pageSize"
                    @@pagination="getList"></pagination>
        <!--编辑、新增 -->
        <el-dialog :title="dialog.title" :visible.sync="dialog.visible" :close-on-click-modal="false">
            <el-form ref="dataForm"
                     :rules="dialog.rules"
                     :model="dialog.data"
                     label-position="left"
                     label-width="100px"
                     style="max-width: 400px; margin-left:50px;">
                <el-form-item label="@AR["Role.Name"]" prop="roleName">
                    <el-input v-model="dialog.data.roleName" clearable placeholder="@AR["Role.InputName"]" />
                </el-form-item>
                <el-form-item label="@AR["Role.Code"]" prop="roleCode">
                    <el-input v-model="dialog.data.roleCode" clearable placeholder="@AR["Role.InputCode"]" />
                </el-form-item>
                <el-form-item label="@AR["Role.IsEnabled"]">
                    <el-switch v-model="dialog.data.enabled"></el-switch>
                </el-form-item>
                <el-form-item label="@AR["Common.Description"]">
                    <el-input v-model="dialog.data.remark" clearable placeholder="@AR["Common.PleaseInputDescription"]" />
                </el-form-item>
                <el-form-item label="@AR["Common.Remark"]">
                    <el-input v-model="dialog.data.adminRemark" clearable placeholder="@AR["Common.PleaseInputRemark"]" />
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialog.visible = false">@AR["Common.Cancel"]</el-button>
                <el-button :loading="dialog.updateLoading" type="primary" @@click="updateData">@AR["Common.Confirm"]</el-button>
            </div>
        </el-dialog>
        <!--授权 -->
        <el-dialog :title="'@AR["Role.Authorize"] ' + au.title" :visible.sync="au.visible" :close-on-click-modal="false">
            <el-tree :data="allMenu" ref="tree" show-checkbox :props="defaultProps" :default-expanded-keys="defaultExpandedKeys" :default-checked-keys="defaultCheckedKeys" node-key="id"></el-tree>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="au.visible = false">@AR["Common.Cancel"]</el-button>
                <el-button :loading="au.updateLoading" type="primary" @@click="auUpdateData">@AR["Common.Confirm"]</el-button>
            </div>
        </el-dialog>
    </div>
</div>
@section scripts{
    <script src="~/js/Admin/Pages/Role/Index.js"></script>
}
